:root {

    /* TOUTES LES PAGES  */

    /* body::-webkit-scrollbar {
        display: none;
    } */

    /* TOUTES LES PAGES  */


    /* INDEX */

    /* Couleurs */
    --primary-color: #00167a;
    --baniere-color-food: #b71c1c;
    --jaune-logo: rgb(250, 193, 45);
    --bleu-logo: rgb(4, 14, 87);

    /* Transitions */
    --transition-fast: 0.3s ease;

    /* INDEX */


    /* TABLEAU MATCH */

    /* Coordonnées à laquelle commencent les barres */
    --verticalVal: 30px;
    --horizontalVal: -50px;

    /* Le gap entre les deux matchs du round4  */
    --gapBetweenRound4Matchs: 70px;
    /* Le padding en hauteur entre les deux matchs du round4 */
    --paddingBottomRound4Matchs: 50px;
    /* La taille de la barre horizontale qui reçoitle gagnant du round8 */
    --widthHorizontalBar: 2px;
    /* La couleur de la barre */
    --barColor: #005bbb;
    /* Longueur de la barre horizontale */
    --horizontalBarLength: 50px;
    /* Hauteur et largeur de la barre horizontale */
    --horizontalBarHeightWidth: 2px;

    /* Calcul de la hauteur de la barre verticale */
    --heightVerticalBarRound4: calc(100% + var(--gapBetweenRound4Matchs) + var(--paddingBottomRound4Matchs) + var(--widthHorizontalBar) + 20px);

    /* Calcul de la hauteur des matchs du round2 */
    --heightVerticalMatchsRound2: calc(var(var(--heightVerticalBarRound4) - 100%));

    /* TABLEAU MATCH */


}